.nav-container {
  display: flex;
  margin-left: -8px;
  width: 96%;
  justify-content: space-between;
  align-items: center;
  padding: 1.85rem;
  background-color: rgba(236, 240, 241, 0);
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: -8px;
  padding-bottom: 80px;
  overflow-x: hidden; /* Rounded corners */
}

img{
  height: 120px; width: 120px;
  background-color: rgba(255, 255, 255, 0.71);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(5px);
}

.menu {
  display: flex;
  gap: 20px;
  text-decoration: none;
  align-items: center;
 
}

.a_nav, #a_nav {
  text-decoration: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.331);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.a_nav:hover, #a_nav:hover{
  box-shadow: 0px 0px 5px 5px #fafdfd;
  background-color: blue;
  color: white;
}
.a_nav:active{
  box-shadow: 0px 0px 5px 5px #fafdfd;
  background-color: green;
  color: white;
}
/* rgba(255, 255, 255, 0.331) */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 9px;
  background-color: rgba(128, 128, 128, 0.477);
  color: white;
  min-width: 114px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* border-radius: 5px; */
}

.dropdown-content a {
  color: black;
  padding: 8px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: blue;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
 
}

.dropbtn:hover {
  color: white;
  background-color: blue;
}

.head_message{
  color: green;
}
.content{
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
  border-color: gainsboro;
}
.innerContent{
 
  padding: 40px;
  border-radius: 20px;
  border: black solid  2px;
  margin-top: 100px;
}


.outer-container {
  background-image: url('https://cdn.pixabay.com/photo/2020/10/21/12/21/sea-bridge-5672967_1280.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
  height: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for a 3D effect */
  background-color: rgba(255, 255, 255, 0.954); /* Semi-transparent background */
  /* overflow-x: hidden; */
}






.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
.card {
  background-color: rgba(0, 0, 0, 0.801);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  margin: 30px;
}
.card:hover{
  transform: scale(1.3);
}
.card img {
  width: 100%;
  transition: transform 0.3s ease;
  width: 350px;
  height: 200px;
}
.card img:hover {
  transform: scale(1.05);
}
.card-content {
  padding: 20px;
}
.card-title {
  font-size: 1.5em;
  margin: 0;
}
.card-description {
  margin: 10px 0 0;
}










/* footer section start */
* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background: #fff;
  /* max-width: 1920px; */
  margin: 0 auto;
  overflow-x: hidden;
  font-family: Poppins, sans-serif;
}

#footer, #footer2 {
  background: #f7f7f7;
  color: white;
  /* padding: 3rem; */
  padding-top: 7rem;
  /* padding-bottom: 80px; */
}

#footer {
  background-color: rgba(0, 0, 0, 0.374);padding-top: 2px;
  display: flex;
}

#footer2 {
  margin-top: 0;
  background-image: url(../../../assets/images/Mountain.jpg);
}

.logo-footer {
  max-width: 170px;
  border-radius: 80%;
  border-style: hidden;
}

.social-links h2, .useful-link h2, .address h2 {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.social-links img, .useful-link img, .address img {
  padding-bottom: 15px;
}

.social-icons, .use-links, .address-links {
  color: #777;
  line-height: 32px;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-icons a {
  color: white;
}

.social-icons a:hover {
  color: blue;
}

.social-icons a i {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  /* padding: 0.4rem 1rem; */
  border-radius: 3px;
  /* color: #82074a; */
  color: orange;
  font-size: 16px;
  margin-right: 12px;
}

li {
  list-style: none;
}

.use-links li i, .address-links li i {
  font-size: 14px;
  padding-right: 8px;
  color: #898989;
}

.use-links li a, .address-links li a {
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.use-links li a:hover, .address-links li a:hover {
  color: blue;
}

.address-links li i {
  font-size: 16px;
  padding-right: 8px;
  color: #82074a;
}

.address-links .address1 {
  color: white;
  font-weight: 500;
  font-size: 15px;
  display: flex;
}

.copy-right-sec {
  padding: 1.8rem;
  background: #82074a;
  color: #fff;
  text-align: center;
}

.copy-right-sec a {
  color: #fcd462;
  font-weight: 500;
}

.a_footer {
  text-decoration: none;
}


.row {
  display: flex;
  padding-left: 100px;
}
.social-links{
  padding-left: 140px;
}
.address{
padding-left: 130px;
padding-right: 40px;
padding-bottom: 20px;
padding-top: 10px;
}