<!-- Nav for Error page -->

<div class="nav-container">
    <div class="logo">
        <a routerLink="/" style="cursor: pointer;">Resort Booking Portal</a>
    </div>
    <div class="menu">
        <a routerLink="/" style="cursor: pointer;">Home</a>
        <a routerLink="/resorts" style="cursor: pointer;">Resorts</a>
        <a routerLink="/bookings" style="cursor: pointer;">Bookings</a>
        <a routerLink="/reviews" style="cursor: pointer;">Reviews</a>
        <a routerLink="/logout" style="cursor: pointer;">Logout</a>
    </div>
</div><br><br><br><br><br>



<!-- nav for home page -->


<div class="nav-container">
    <div class="logo">
        <a routerLink="/" style="cursor: pointer;">Resort Booking Portal</a>
    </div>
    <div class="menu">
        <a routerLink="/register" style="cursor: pointer;">Register</a>
        <a routerLink="/login" style="cursor: pointer;">Login</a>
    </div>
</div><br><br><br><br><br>

<!-- Nav for register page -->

<div class="nav-container">
    <div class="logo">
        <a routerLink="/" style="cursor: pointer;">Resort Booking Portal</a>
    </div>
    <div class="menu">
        <a routerLink="/" style="cursor: pointer;">Register</a>
        <a routerLink="/login" style="cursor: pointer;">Login</a>
    </div>
</div><br><br><br><br><br>

<!-- Login Page -->

<div class="nav-container">
    <div class="logo">
        <a routerLink="/" style="cursor: pointer;">Resort Booking Portal</a>
    </div>
    <div class="menu">
        <a routerLink="/register" style="cursor: pointer;">Register</a>
        <a routerLink="/" style="cursor: pointer;">Login</a>
    </div>
</div> <br><br><br><br><br>


<!-- Admin side..  NavBar  Add Resort and View Resort -->

<div class="nav-container">
    <div class="logo">
        <a routerLink="/" style="cursor: pointer;">Resort Booking Portal</a>
    </div>
    <div class="menu">
        <a>Admin</a>
        <a routerLink="/" style="cursor: pointer;">Home</a>
        <div class="dropdown">
            <a routerLink="/" class="dropbtn">Resort</a>
            <div class="dropdown-content">
                <a href="/addResort">Add Resort</a>
                <a href="/viewResort">View Resort</a>
            </div>
        </div>
        <a routerLink="/bookings" style="cursor: pointer;">Bookings</a>
        <!-- <a routerLink="/reviews" style="cursor: pointer;">Reviews</a> -->
        <div class="dropdown">
            <a routerLink="/" class="dropbtn">Reviews</a>
            <div class="dropdown-content">
                <a href="/addResort">Add Reviews</a>
                <a href="/viewResort">View Reviews</a>
            </div>
        </div>
        <a routerLink="/logout" style="cursor: pointer;">Logout</a>
    </div>
</div><br><br><br><br><br>

<!-- Customer side navbar..   -->

<div class="nav-container">
    <div class="logo">
        <a routerLink="/" style="cursor: pointer;">Resort Booking Portal</a>
    </div>
    <div class="menu">
        <a>Customer</a>
        <a routerLink="/" style="cursor: pointer;">Home</a>
        <!-- <a routerLink="/resorts" style="cursor: pointer;">Resorts</a> -->
        <div class="dropdown">
            <a routerLink="/" class="dropbtn">Resort</a>
            <div class="dropdown-content">
                <a href="/addResort">Add Resort</a>
                <a href="/viewResort">View Resort</a>
            </div>
        </div>
        <a routerLink="/bookings" style="cursor: pointer;">Bookings</a>
        <!-- <a routerLink="/reviews" style="cursor: pointer;">Reviews</a> -->
        <div class="dropdown">
            <a routerLink="/" class="dropbtn">Reviews</a>
            <div class="dropdown-content">
                <a href="/addResort">Add Reviews</a>
                <a href="/viewResort">View Reviews</a>
            </div>
        </div>
        <a routerLink="/logout" style="cursor: pointer;">Logout</a>
    </div>
</div><br><br><br><br><br>