<!-- <div class="content">
    <div class="innerContent">
    <h1 class="head_message">Something Went Wrong</h1>
    <p>
        Error Occurred! You have been logged-out unfortunately. <br><br>
        <span style="color: red;" >Please clear your cookies and caches and try again after few minutes.</span>
    </p>
    <br><br>
        <button class="tryBtn" routerLink="/home">Try Again</button>
    </div>
</div> -->

<div class="outer-container">
    <div class="error-container">
      <img src="../../../assets/images/Image.png" alt="404 Error" class="error-image">
      <h1>Oops! Damnit stranger,</h1>
      <h2>You got lost in the 404 galaxy.</h2>
      <p>We can't seem to find the page you're looking for.</p>
      <button class="tryBtn" routerLink="/home">Go back to earth</button>
    </div>
  </div>
  
  
