<div class="outer-container">
    <div class="nav-container">
        <img src="../.././../assets/logo-transparent-png.png" >
    <div class="logo">
        <a class="glow" routerLink="/" style="cursor: pointer;">REZORTO</a>
    </div>
        <div class="menu">
            <a id="a_nav" routerLink="/registration" class="reg-log">Register</a>
            <a id="a_nav" routerLink="/login"  class="reg-log">Login</a>
        </div>
    </div>
   
    <div class="content">
        <div class="innerContent">
        <h1 class="head_message">Online Resort Booking Portal</h1>
        <p>
            Welcome to our Resort Booking Portal! Discover your dream getaway with our curated selection of luxurious resorts. Whether you seek serene beachfront villas, cozy mountain lodges, or vibrant city escapes, we have the perfect destination for you. Enjoy exclusive deals, seamless booking, and personalized recommendations. Start your journey to relaxation and adventure today. Book now and experience the ultimate in comfort and style. Your perfect vacation awaits!
        </p>
        </div>
    </div>
 
<!-- footer -->
<footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a class="a_footer" href="index.html"><img src="../../../assets/RESOTO_updated_logo.jpg" alt="" class="img-fluid logo-footer"></a>
                    <div class="footer-about">
                        <p>Welcome to Rezorto, designed for both travelers and resort owners. Customers can explore a wide range of luxurious resorts tailored to their preferences and budget, enjoying seamless booking, exclusive deals, and exceptional customer service. Resort owners can effortlessly list their properties, reach a global audience, and manage bookings with ease. Join us to create unforgettable memories and grow your business at the world’s finest resorts.  </p>
                    </div>
 
        </div>
        <div class="col-md-3">
            <div class="social-links">
            <h2>Follow Us</h2>
            <!-- <img src="./assets/images/about/home_line.png" alt=""> -->
            <div class="social-icons">
              <li><a class="a_footer" href="facebook.com"><i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
              <li><a class="a_footer" href="instagram.com"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
              <li><a class="a_footer" href="linkedin.com"><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></li>
            </div>
          </div>
                 
 
        </div>
 
 
        <div class="col-md-3">
          <div class="address">
            <h2>Address</h2><br><br><br>
            <i class="fa-solid fa-location-dot"></i> &nbsp;<span>Plot no. 64, Park Street, Industrial Area, Mahape, Mumbai</span><br><br><br>
            <span>&nbsp;<i class="fa-solid fa-phone"></i> +91 90904****2</span><br><br><br>
            <span>&nbsp;<i class="fa-solid fa-envelope"></i> team&#64;Rezorto.com</span>
            <div class="address-links">
             
               
                 
            </div>
          </div>
        </div>
               
      </div>
    </div>
 
  </footer>
  <!-- footer section end -->
  <!-- footer copy right section start -->
  <section id="copy-right">
    <div class="copy-right-sec"><i class="fa-solid fa-copyright"></i>  
      Book your resort across the globe, Powered By <a href="/adminDashboard">Code Crafters Lti</a>
 
    </div>
  </section>
  <!-- footer copy right section end -->
</div>