
.form_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    
}

.resortHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    height:80px;
    margin-bottom: 70px;
    margin-top: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 36px;
    text-shadow: white;
}
.resForm{
    color: white;
    font-weight: bold;
    border: grey solid 2px;
    margin-top: 180px;
    padding: 30px;
    border-radius: 5px;
    /* background-color: #f9f9f9b0; */
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
}
 
.btn{
    background-color: rgb(52, 171, 52);
    color: white;
    padding-left: 55px;
    padding-right: 55px;
}
 
.nav-container {
    display: flex;
    /* position: fixed; */
    margin-left: -8px;
    width: 96%;
    justify-content: space-between;
    align-items: center;
    padding: 1.85rem;
    /* background: rgb(251, 250, 249); Semi-transparent green background */
    background-color: rgba(236, 240, 241, 0);
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: -8px;
    overflow-x: hidden; /* Rounded corners */
}
 
.menu {
    display: flex;
    gap: 20px;
    text-decoration: none;
    align-items: center;
}

img{
    height: 120px; width: 120px; 
    background-color: rgba(255, 255, 255, 0.71);
    backdrop-filter: blur(3px); 
    -webkit-backdrop-filter: blur(5px);
}

.glow {
    font-size: 25px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #000000;
    }
    to {
        text-shadow: 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #000000, 0 0 80px #000000;
    }
}
 
a {
    text-decoration: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.331);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
 
a:hover {
    background-color:burlywood ;
}
 
.dropdown {
    position: relative;
    display: inline-block;
}
 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}
 
.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}
 
.dropdown-content a:hover {
    background-color: burlywood;
}
 
.dropdown:hover .dropdown-content {
    display: block;
}
 
.dropbtn:hover {
    color: black;
    background-color: burlywood;
    padding: 10px;
    border-radius: 5px;
}
 
.content {
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    border-color: gainsboro;
    /* background-color: rgba(236, 240, 241, 0.4);  */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for a 3D effect */
    border: 2px solid rgb(14, 16, 14); /* Dark grey border */
    border-radius: 10px;
    
}
 
 
 
.innerContent {
    padding: 40px;
    border-radius: 20px;
    /* border-color: black; */
    border: black solid 2px;
    margin-top: 100px;
}
.outer-container {
    background-image: url('https://watermark.lovepik.com/photo/20211120/large/lovepik-the-outdoor-swimming-pool-of-the-luxury-resort-picture_500484656.jpg');
    background-size: cover;
    height: 200vh;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for a 3D effect */
    
}
 
.errorMsg{
    color: red;
}
 
input[type="text"],input[type="number"],
textarea,
select {
  border: 1px solid #ccc;
  border-radius: 8px; 
  padding: 8px;
  width: 100%; 
  box-sizing: border-box; 
}
 
.btn {
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
  }
 
  .btn:hover {
    background-color: #0056b3;
  }

  input,textarea, select{
    background-color: rgba(0, 0, 0, 0.338);
    color: white;
  }